*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.contenedor{ /*Definições de preenchimento, altura e margem do site*/
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{ /*Titulo*/
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Patua One', cursive;
}

header{ /*Menu e topo da página*/
    width: 100%;
    height: 600px;
    background: #076585; 
     /*Efeito degrade no menu*/
    background: -webkit-linear-gradient(to right, rgba(56, 191, 245, 0.644), #1a75fd9c), url(../imagens/dengue4.webp);
    background: linear-gradient(to right, rgba(25, 255, 236, 0.507), #1a75fd9c), url(../imagens/dengue4.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{ /*Menu da página inicial*/
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{ /*Textos do menu*/
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

nav > a:hover{ /*O hover permite a criação de diversos efeitos interessantes em uma página HTML*/
    text-decoration: underline;
}

header .textos-header{ /*Alinhamento dos textos da header*/
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{ /*Nome do site e slogan*/
    font-size: 55px;
    color: #fff;
    font-family: 'Patua One', cursive;
}

.textos-header h2{ /*Nome do site e slogan*/
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    font-family: 'Almarai', sans-serif;
}
.fundo-letra{ /*A classe fundo-letra e fundo-letra2 define a cor e coloca uma sombra no texto */
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.fundo-letra2{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.wave{ /*Efeito da onda que separa o menu do resto do site*/
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contet-fk{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de observe-se */
    width: 350px;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
    
    
    
}

.contenedor-fg{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de prevenir-se */

  width: 350px;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-align: justify;
  font-family: 'DM Sans', sans-serif;
  
}

.contenedor-fc{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de Dengue */

  width: 350px;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-align: justify;
  font-family: 'DM Sans', sans-serif;
  
}
.contenedor-fa{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de como se espalha */

  width: 500px;
    padding: 3em;
    margin-left: 3em;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
   
}



/*textos Dicas*/

.contet-fz{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de Cautela */
  width: 270px;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-align: justify;
  font-family: 'DM Sans', sans-serif;
  
}

.contenedor-fx{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de Água */

width: 270px;
padding: 1em;
margin: 1em;
display: inline-block;
vertical-align: top;
text-align: center;
text-align: justify;
font-family: 'DM Sans', sans-serif;

}

.contenedor-fj{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de Reciclar */

width: 270px;
padding: 1em;
margin: 1em;
display: inline-block;
vertical-align: top;
text-align: center;
text-align: justify;
font-family: 'DM Sans', sans-serif;

}

.contenedor-fm{ /*Largura, alinhamento de texto, alinhamento na vertical, margem e preenchimento da caixa de texto de Plantas */

  width: 270px;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-align: justify;
  font-family: 'DM Sans', sans-serif;
  
  }


.mensagem{ /*Logo  centralizada*/
   align-self: center;
}


/*Menu prevenção*/

.container {
  width: 100%;
  height: 480px;
  align: right;
}



.center {
  fill:  #7386D5;
}

.pointer {
  fill: #fff;
  stroke: #A0b6f5;
  stroke-width: 2;
}

.nav-copy {
  font-family: 'inter';
  fill: #fff;
  fill-opacity: 1;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.nav-copy.changing {
  fill-opacity: 0;
}

.service {
  cursor: pointer;
}
.service text {
  font-size: 20px;
  font-family: 'inter';
  text-anchor: middle;
}
.service .icon-wrapper {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.service circle {
  fill: #7386D5;
}
.service circle.shadow {
  fill-opacity: 0;
  -webkit-filter: url(#service-shadow);
          filter: url(#service-shadow);
}
.service use {
  fill: #fff;
}
.service text {
  fill:  #7386D5;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {/*ícon*/
  -webkit-transform: scale(1.15) translateY(-5px);
          transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper, .service:hover .icon-wrapper > * {/*transição de ícon*/
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {/*opaciadade do circle*/
  fill-opacity: 0.4;
}
.service.active text, .service:hover text {/*troca cor do texto menu*/
  fill: #ff2c2c;
  font-weight: bold;
}




/*button covid*/
.wrap {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #7386D5;
background: linear-gradient(90deg, rgba(115,134,213, 0.8) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #7386D5;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
